# Core dependencies
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers==4.49.0
peft==0.14.0
accelerate==1.5.2
openai==1.60.1
tqdm==4.67.1
numpy==2.0.1
pandas==2.2.3
scikit-learn==1.6.1
requests==2.32.3
python-dotenv==1.0.1
safetensors==0.5.3
datasets==3.3.2
protobuf==4.25.3
wandb==0.19.8
regex==2024.11.6
psutil==7.0.0
